.home-hero-sec{
    .hero-sec__bg-img{
        width: 820px;
        right: 0;
        top: 0;
    }

    .btn-ctr-v1{
        width: 355px;
    }
}

@media only screen and (max-width: 1280px) {
    .home-hero-sec .hero-sec__bg-img{
        width: 780px;
    }
    .home-hero-sec{
  
    
        .btn-ctr-v1{
            width: 300px;
        }
    }
}

@media only screen and (max-width: 940px) {
    .home-hero-sec .hero-sec__bg-img{
        width: 665px;
    }
}

@media only screen and (max-width: 760px) {
    .home-hero-sec .hero-sec__bg-img{
        width: 410px;
        right: 0;
        top: auto;
        bottom: 0;
    }

    .home-hero-sec{
  
    
        .btn-ctr-v1{
            width: 270px;
        }
    }

   
}