$mainFont: "Manrope", sans-serif;
// $titleFont: 'Pathway Gothic One', sans-serif;
$secondFonts: "PT Sans", sans-serif;
$interFont: "Inter Tight", sans-serif;


$white: #fff;
$black: #000;

$green1: #317844;
$green2: #007820;
$green3: #ACFFC2;